@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 91px;
  background: #3c3a39;
  color: #3c3a39;
}

.nav,
.style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.right h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #fff;
  padding-left: 14px;
}

.nav h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.header-desc {
  background: #1c1a19;
  height: 600px;
  width: 100%;
  margin-bottom: 40px;
}

.header-desc h2 {
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.header-desc h3 {
  padding-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.header-desc p {
  padding-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.social {
  padding-top: 22px;
  margin-left: 35px;
  margin-right: 161px;
  display: flex;
  text-align: center;
  gap: 21px;
}

.div img {
  position: absolute;
  width: 170px;
  height: 314px;
  right: 0;
  z-index: 2;
  top: 370px;
  object-fit: fill;
}
